@import '../../stylesheet/vars.css';
.loader {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-brand-secondary);
  border: 5px solid var(--background-progress-bar);
  transition: background-color 2s ease-out;
}
.loader:hover {
  background-color: var(--shadow-progress-bar);
}
