@import '../../stylesheet/vars.css';

.modalContainer {
}

.modal {
  background-color: var(--background-light);
  border: 1px solid;
  border-color: gray;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  -webkit-box-shadow: 0px 0px 41px -3px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 0px 41px -3px rgba(189, 189, 189, 1);
  box-shadow: 0px 0px 41px -3px rgba(189, 189, 189, 1);
}

.title {
  text-align: center;
  font-size: large;
  font-weight: 700;
  margin-bottom: 10px;
  white-space: nowrap;
}

.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.confirm {
  background-color: var(--color-brand-secondary);
  padding: 12px;
  border: 0;
  border-radius: 5px;
  transition: 0.4s ease;
  width: 150px;
}

.cancel {
  background-color: var(--color-brand-accent);
  padding: 12px;
  border: 0;
  border-radius: 5px;
  transition: 0.4s ease;
  width: 150px;
}

.confirm:hover,
.cancel:hover {
  transition: 0.4s ease;
  background-color: var(--color-brand-primary);
  color: var(--font-color-light);
}

@media (min-width: 767px) {
  .buttonContainer {
    flex-direction: row;
  }
}
