@import '../../../stylesheet/fonts.css';

.row {
  height: 50px;
}

.item {
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0px 1px 0px 0px #dcdcdf;
  font-family: 'Circe';
  font-size: 16px;
}

.category {
  max-width: 150px;
  overflow: hidden;
}

.comment {
  max-width: 250px;
  overflow: hidden;
}

.itemFirst {
  padding-left: 25px;
  padding-right: 5px;
}

.itemLast {
  padding-left: 5px;
  padding-right: 15px;
}

.itemType {
  text-align: center;
}

.itemAmount {
  text-align: right;
  font-weight: 700;
}

.amountIncome {
  color: var(--color-brand-secondary);
}

.amountExpension {
  color: var(--color-brand-accent);
}

.editButton {
  background-color: transparent;
  border: 0;
  transition: color 0.3s ease;
}

.deleteButton {
  background-color: var(--color-brand-secondary);
  border: 0;
  border-radius: 18px;
  padding: 4px 12px 4px 12px;
  color: var(--font-color-light);
  transition: background-color 0.7s ease;
}

.deleteButton:hover {
  background-color: var(--nav-color-active);
  cursor: pointer;
  transition: background-color 0.7s ease;
}

.editButton:hover {
  cursor: pointer;
  color: var(--nav-color-active);
  transition: color 0.3s ease;
}
