.wrapper {
  background-color: var(--background-accent);
  height: 100vh;

}

@media screen and (min-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    flex: 1
  }

  .wrapper::before,
  .wrapper::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(10px);
  }

  .wrapper::before {
    background-image: url(../../assets/icons/blob-3.svg);
    bottom: 0;

  }

  .wrapper::after {
    background-image: url(../../assets/icons/blob-4.svg);
    right: 0;
    z-index: 0;
  }

  .dashBoardWrapper {
    flex: 1;
  }

  .container {
    min-width: 767px;
    margin: 0 auto;
  }

}

@media screen and (min-width: 1279px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
  }



  .dashBoardWrapper {
    flex: 1;
    border-right: 1px solid #E7E5F2;
    box-shadow: 1px 0px 0px 0px #FFFFFF99;
    max-width: 480px;
  }

  .outletWrapper {
    flex: 1;
    border-left: 1px solid #E7E5F2;
    box-shadow: -1px 0px 0px 0px #0000000D;
  }


  .container {
    width: 1279px;
    margin: 0 auto;
  }
}