@import '../../stylesheet/vars.css';
.wrapper {
  width: 100%;
  background-color: white;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 107px;
}
.header {
  display: flex;
  flex-direction: row;
  gap: 15.56px;
  margin-bottom: 20px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 4px;
}
.label {
  display: flex;
  gap: 20px;
  width: 280px;
  border: none;
  border-bottom: 1px solid var(--color-switch-main);
  margin-top: 40px;
  padding-left: 10.5px;
  padding-bottom: 8px;
}
.fieldWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input {
  border: none;
}
.input::placeholder {
  color: var(--color-logout-button);
  font-family: 'circe', sans-serif;
  font-size: 18px;
}
.loginButton,
.registerButton {
  font-family: 'circe', sans-serif;
  font-size: 18px;
  width: 280px;
  border-radius: 20px;
  padding: 13px 0;
}
.loginButton {
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: var(--color-brand-secondary);
  border: 1px solid var(--color-brand-secondary);
  color: var(--background-light);
}
.loginButton:hover,
.loginButton:focus {
  background-color: var(--background-light);
  color: var(--color-brand-secondary);
  -webkit-box-shadow: 8px 8px 24px -18px rgba(36, 204, 167, 1),
    inset 0px 10px 24px -18px rgba(36, 204, 167, 1);
  -moz-box-shadow: 8px 8px 24px -18px rgba(36, 204, 167, 1),
    inset 0px 10px 24px -18px rgba(36, 204, 167, 1);
  box-shadow: 8px 8px 24px -18px rgba(36, 204, 167, 1),
    inset 0px 10px 24px -18px rgba(36, 204, 167, 1);
  cursor: pointer;
}
.registerButton:hover,
.registerButton:focus {
  background-color: var(--color-brand-primary);
  color: var(--background-light);
  -webkit-box-shadow: 8px 8px 24px -10px rgba(74, 86, 226, 1);
  -moz-box-shadow: 8px 8px 24px -10px rgba(74, 86, 226, 1);
  box-shadow: 8px 8px 24px -10px rgba(74, 86, 226, 1);
  cursor: pointer;
}

.registerButton {
  background-color: var(--background-light);
  border: 1px solid var(--color-brand-primary);
  color: var(--color-brand-primary);
}
.validateError {
  color: var(--color-brand-accent);
  position: absolute;
  top: 40px;
  width: 100vw;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    margin-top: 50px;
    border-radius: 20px;
    width: 533px;
    margin-bottom: 196px;
  }
  .form {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 62px;
  }
  .label {
    width: 410px;
  }
  .title {
    font-size: 30px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1279px) {
  .wrapper {
    margin: 0;
  }
}
