@import '../../stylesheet/vars.css';

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 32px;
  width: 280px;
  margin: 0 auto;
}

.navBtn {
  fill: var(--nav-color-inactive);
  text-decoration: none;
  color: var(--font-color-dark);
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
}

.active {
  fill: var(--nav-color-active);
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 18px;
  color: var(--font-color-dark);
}

.use {
  border-radius: 50px 50px;
}

.nav svg {
  width: 32px;
  height: 32px;
}

.active svg {
  box-shadow: 0px 3px 10px 0px #4a56e280;
  border-radius: 20%;
  width: 32px;
  height: 32px;
}

.description {
  display: none;
}

@media screen and (min-width: 767px) {
  .nav {
    flex-direction: column;
    padding-left: 32px;
    padding-top: 40px;
    padding-bottom: 28px;
    margin: 0px;
    min-width: 336px;
    text-align: center;
    gap: 12px;
  }

  .description {
    display: inline;
    padding-left: 23px;
  }

  .navBtn {
    display: flex;
  }

  .active {
    display: flex;
  }

  .currencyNavLink {
    display: none;
  }

  .nav svg {
    width: 18px;
    height: 18px;
  }

  .active svg {
    width: 18px;
    height: 18px;
  }
}
