@import '../../stylesheet/vars.css';


.table {
  color: #FFFFFF;
  width: 280px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #6E78E8;
  border-radius: 30px 30px 0 0;
  padding: 10px 0px;
}

.currency {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-around;
  padding: 10px 0px;
}

.currencyContainer {
  background-image: url(/src/assets/icons/currencyBg.svg);
  background-repeat: no-repeat;
  background-color: #4A56E2;
  border-radius: 0 0 30px 30px;
  background-position: bottom;
}

.buyValue {
  padding-left: 30px;
}