@import '../../stylesheet/vars.css';

.table {
  color: var(--font-color-light);
  width: 280px;
  margin: 0 auto;
  font-family: 'Circe';
  text-align: center;
  padding-top: 13px;
  height: calc(100vh - 130px);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #6e78e8;
  border-radius: 30px 30px 0 0;
  padding: 10px 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26.53px;
}

.currency {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-around;
  padding: 8px 0px;
}

.currencyContainer {
  background-image: url(/src/assets/icons/currencyBg.svg);
  background-repeat: no-repeat;
  background-color: var(--color-brand-primary);
  border-radius: 0 0 30px 30px;
  background-position-x: -25px;
  background-position-y: 10px;
  background-size: cover;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.58px;
}

@media screen and (min-width: 767px) {
  .table {
    position: absolute;
    right: 32px;
    top: 30px;
    padding: 0px;
    z-index: 1;
    height: auto;
  }
}

@media screen and (min-width: 1279px) {
  .table {
    position: static;
    margin: 0px;
    padding-left: 18px;
    padding-top: 32px;
    width: 393px;
  }

  .currencyContainer {
    background-position-x: 0px;
    background-position-y: 10px;
  }
}
