@import '../../stylesheet/vars.css';

.container {
  background-color: var(--background-light);
  margin: 0 auto;
  width: fit-content;
  border-radius: 30px;
  width: 280px;
  padding-block: 8px 11px;
  box-shadow: 0px 3px 10px 0px #4a56e280;
}
.container h2 {
  color: #a6a6a6;
  font-family: 'Circe';
  font-weight: 400;
  font-size: 12px;
  line-height: 17.69px;
  padding-top: 8px;
  padding-left: 32px;
}

.container div {
  color: var(--font-color-dark);
  font-weight: 700;
  font-size: 30px;
  line-height: 17.69px;
  padding: 12px 73px 12px 32px;
}

@media screen and (min-width: 767px) {
  .container {
    margin: 0px;
    width: 336px;
    margin-left: 32px;
  }
}

@media screen and (min-width: 1279px) {
  .container {
    margin-left: 18px;
  }
}
